<div class="wrapper2">
  <div class="background background_1"></div>
  <div class="background background_2"></div>
  <div class="background background_3"></div>
  <div class="background background_4"></div>

  <div class="row row_1">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
  <div class="row row_2">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
  <div class="row row_3">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_3"><span></span></div>
     <div class="hexagon ring ring_3"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
  <div class="row row_4">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_3"><span></span></div>
     <div class="hexagon ring ring_4"><span></span></div>
     <div class="hexagon ring ring_3"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
  <div class="row row_5">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_3"><span></span></div>
     <div class="hexagon ring ring_3"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
  <div class="row row_6">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_2"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
  <div class="row row_7">
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
     <div class="hexagon ring ring_1"><span></span></div>
  </div>
</div>